.card {
    outline: 1px solid black;
    outline-offset: -2px;
    border-radius: 5px;
    color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}
